.body__container{
    background-color: #212428;
    color: white;
    font-family: system-ui;
}

/* ****************************************** NAVBAR ************************************** */
.navbar__container{
    width: 100vw;
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    padding-top: 1.5rem;
    background: transparent;
}

.logo__section{
    display: flex;
    margin-left: 20px;
}

.logo__image{
width: 70px;
height: 70px;
border-radius: 50%;
}

.header__name{
position: relative;
top: 25px;
font-size: 25px;
margin-left: 10px;
}

.menu__list{
    display: flex;
    list-style: none;
    margin-top: 30px;
    margin-right: 20px;
}

.menu__list > li{
    padding-left: 30px;
}

.menu__list > li :hover{
    color: red;
}

/* ******************************************* END OF NAVBAR ***************************** */
/* ********************************************* MAIN ************************************ */
.main__container{
    display: flex;
    margin: 100px 100px 100px 100px;
    gap: 20px;
}

.about__section{
    border-radius: 10px;
    width: 500px;
    height: 350px;
    box-shadow:  10px 10px 19px #1c1e22, -10px -10px 19px #262a2e;
    margin: 0px;
}

.about__section >div{
    display: flex;
    flex-direction: column;
    margin-left: 40px;
}

.about__section >div >h1{
    font-size: 40px;
    margin: 0px;
}

.about__section >div >i{
 margin-top: 30px;
 margin-bottom: 10px;
}

.about__section >div >h1>span{
    font-size: 40px;
    margin: 0px;
    color:#ff014f;
}

.about__section >div >div{
margin-top: 15px;
}

.about__section >div >div >i{
    margin-right: 15px;
    }

.about__section_2{
    border-radius: 10px;
    width: 500px;
    height: 190px;
    box-shadow:  10px 10px 19px #1c1e22, -10px -10px 19px #262a2e;
}

.about__section_2 > h3{
    font-size: 20px;
    margin: 20px;
    padding: 20px;
}

.buttons__links{
    margin-left: 40px;
    width: auto;
    height: auto;
    padding: 15px;
    border-radius: 5px;
    background: linear-gradient(to right bottom, #212428, #16181c);
    box-shadow:  10px 10px 19px #1c1e22, -10px -10px 19px #262a2e;
    color:#ff014f;
    font-family: 'Times New Roman', Times, serif;
}

.main__image__section{
    border-radius: 10px;
    width: 700px;
    height: 500px;
    box-shadow:  10px 10px 19px #1c1e22, -10px -10px 19px #262a2e;
    padding: 30px;
}

.main__image{
    width: 100%;
    height: 500px;
}


/* Gap Line */
.gap_line{
    width: 90%;
    height: 1px;
    background-color: tomato;
margin-left: 6rem;
}

/* ***************************************** Experience Section ****************************** */
.experience_1{
    width: 80%;
    height: 200px;
    box-shadow:  10px 10px 19px #1c1e22, -10px -10px 19px #262a2e;
    margin: 1rem 5rem 1rem 8rem;
    display: flex;
}

.experience_description{
display: flex;
flex-direction: column;
position: relative;
top:3rem;
left: 3rem;
}

.experience_description span:nth-child(1){
background-color: #545961;
border-radius: 1.25rem;
width: 140px;
height: auto;
padding: 2px 8px;
color: #c4cfde;
margin-bottom: 0.5rem;
}

.experience_description span:nth-child(2){
font-size: x-large;
margin-bottom: 1rem;
}

.experience_description span:nth-child(3){
    font-size: large;
    margin-bottom: 0.5rem;
    }

.experience_description span:nth-child(4){
    font-size: small;
    margin-bottom: 0.5rem;
}

.gradution_image{
    width: 15.6rem;
    height: 10rem;
    position: relative;
    top: 1.5rem;
    left: 1.5rem;
    border-radius: 0.5rem;
}

.experience_heading{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem 0rem 1rem 0rem;
    }

.experience_heading span:nth-child(odd){
    color: #ff014f;
        font-size: large;
    }

.experience_heading span:nth-child(even){
        font-size: 4rem;
    }